altgraph==0.17.2
ansible==5.3.0
ansible-core==2.12.2
asgiref==3.4.1
attrs==21.4.0
autopep8==1.6.0
bcrypt==3.2.0
boto3==1.20.46
botocore==1.23.46
calc==1.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.11
click==8.0.4
colorama==0.4.4
configparser==5.2.0
crayons==0.4.0
cryptography==36.0.1
distlib==0.3.4
dj-database-url==0.5.0
Django==3.2.7
django-environ==0.8.1
django-heroku==0.3.1
django-maven==0.3
django-on-heroku==1.1.2
django-phonenumber-field==6.0.0
djlint==0.7.5
filelock==3.6.0
future==0.18.2
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.11.1
iniconfig==1.1.1
Jinja2==3.0.3
jmespath==0.10.0
junitparser==2.4.2
macholib==1.15.2
MarkupSafe==2.0.1
packaging==21.3
paramiko==2.9.2
pathspec==0.9.0
phonenumbers==8.12.38
Pillow==8.4.0
platformdirs==2.5.1
pluggy==1.0.0
psycopg2==2.9.2
psycopg2-binary==2.9.2
py==1.11.0
pycodestyle==2.8.0
pycparser==2.21
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.2
PyNaCl==1.5.0
pyparsing==3.0.7
pytest==7.0.1
pytest-django==4.5.2
python-dateutil==2.8.2
pytz==2021.1
PyYAML==6.0
regex==2022.1.18
requests==2.27.1
resolvelib==0.5.4
s3transfer==0.5.0
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.9.2
tqdm==4.62.3
urllib3==1.26.7
virtualenv==20.13.1
webdriver-manager==3.5.2
whitenoise==5.3.0
zipp==3.7.0
